html{
    background-color: black;
}
.poster{
    margin-top: 100px;
    margin-left: 25%;
    width: 50%;
    font-family: "Libre Baskervile", serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    text-align: center;
    
}
img{
    width: 100%;
    height: auto;
    border: solid 5px white;
}
h1{
    text-transform: uppercase;
    font-size: 3rem;
    color: white;
   

}
p{
    color: white;
    text-align: center;
    
}
#judul{
    text-align: center;
}
 